<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="div">
    <h3 style="margin-left:70px">Please Login</h3>
    <div>
        <form action="/login" method="post">
            <input class="inp" type="text" name="username" placeholder="Please input username">
            <br>
            <br>
            <input class="inp" type="password" name="password" placeholder="Please input password">
            <br>
            <br>
            <input class="inp2" type="submit" value="Login">
        </form>
        <br>
        <a style="margin-left:65px;color: blue" href="/">Home page</a><br>
    </div>

</div>

</body>
</html>